ACCOUNT_ID = 0123456789
REGION = ap-northeast-1
CONNECTION_ARN = arn:aws:codeconnections:ap-northeast-1:0123456789:connection/adweiohv-asndqdi-asdnajv-qrt2ha21
INFRA_REPOSITORY = pitayapj/pitaya-cdk-template
ORG_SHARED_PARAMETERS = 